run = "rm -rf node_modules && npm install && npm run build && npx serve dist -s -l tcp://0.0.0.0:3000"
entrypoint = "src/main.tsx"

[nix]
channel = "stable-24_11"

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[deployment]
run = ["sh", "-c", "npx serve dist -s -l tcp://0.0.0.0:3000"]
build = ["sh", "-c", "rm -rf node_modules && npm install && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
